<html>
<head>
	<title>Review Submit</title>

    <!-- Custom styles for this template -->
    <link href="./bootstrap/css/concepts.css" rel="stylesheet">

</head>
<body>
<h1 class = "header"> Submit a Review</h1>
<div class = "forms">
	<form><center>

	<input class = "conceptTitle" type="text" name="conceptTitle" placeholder = "Type title here!" >
	<br><br>
	<textarea class = "conceptDescription" type="text" name="conceptDescription" placeholder = "Type description here!" ></textarea>
	<br><br>
	<textarea class = "conceptContent" type="text" name="content" placeholder = "Type content here!" ></textarea><center>
	<br><br>
	<input class = "submit_button" type="submit" value="Submit Concept">
</div>
</form>
</body>
</html>