<center>
    <div class="show-concept">
        <div class="concept-title">
            <%= @concept.title %>
        </div>
        <div class="concept-description">
            <%= @concept.description %>
        </div>
        <br>
        <div class="concept-content">
            <%= @concept.content %>
        </div>
        <br><br>
        <%= link_to '<button class="reply-to-concept">Write a Review</button>'.html_safe, "/reviews/new?concept=#{@concept.id}" %>
    </div>
</center>
