<center>
    <div class="show-concept">
        <div class="concept-title">
            <%= @concept.title %>
        </div>
        <div class="concept-description">
            <%= @concept.description %>
        </div>
        <br>
        <div class="concept-content">
            <%= @concept.content %>
        </div>
        <br><br>
        <button class="reply-to-concept">Write a Review</button>
    </div>


</center>
