/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
 @import url(https://fonts.googleapis.com/css?family=Rokkitt);
 
.notice, .alert {
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 5%;
    top: 10px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: #efefef;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

a:hover {
    background: inherit !important;
}

.header-nav {
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    height: 50px;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding-bottom: 26px;
}

    .header-nav > .username {
        float: right;
        position: relative;
        right: 0%;
        top: 13px;
    }
    
    .header-nav > .logo {
        position: relative;
        left: 0%;
        top: 30px;
    }
    
        .logo > a {
            color: #2980b9 !important;
            
        }
    
    
.header-burger {
    position: relative;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background: #2980b9;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .12);
}

    .header-burger > i {
        color: white;
        position: relative;
        font-size: 24px;
        top: 13px;
        left: 13px;
    }

    

.side-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #2980b9;
    color: white;
    display: none;
    z-index: 999;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .12);
}

    .side-nav > .option {
        display: block;
        padding: 20px;
        width: calc(100% - 70px);
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        text-transform: uppercase;
        font-weight: 300;
        padding-right: 50px;
    }
    
    .side-nav > .option:hover, .header-burger:hover {
        cursor: pointer;
        background: #3498db;
    }
    
    
    
    
.log-in {
    position: relative;
    width: 400px;
}
    
    
    
    
    
    
/*
*    Responsive
*/

@media all and (max-width: 699px) {
  .header-nav {
    display: none;
  }
  
  .header-burger {
      display: block !important;
  }
  
  .side-nav {
      display: none;
  }
  
  .reply-to-concept {
      width: 100%;
  }
  
  .new-form input, .new-form textarea {
        width: calc(100% - 12px);
    }
    
    .new-form input[type='submit'] {
        width: 100%;
    }
}

@media all and (min-width: 699px) {
  .header-nav {
    display: block;
  }
  
  .header-burger {
      display: none;
  }
  
  .side-nav {
      display: none !important;
  }
}