// Place all the styles related to the Concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concepts-list-header {
    font-size: 2em;
    font-weight: bold;
    display: block;
    position: relative;
    float: left;
}


.concepts {
    position: relative;
    width: 90%;
    padding: 10px;
}

    .concepts > .concept {
        position: relative;
        width: calc(100% - 40px);
        padding: 20px;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        background: white;
    }
    
        .concept > .title {
            display: block;
            font-size: 1.4em;
            margin-bottom: 10px;
        }
        
        .concept > .description {
            color: rgba(0, 0, 0, .7);
            display: block;
            font-family: 'Rokkitt', serif;
        }
        
        .concept:hover {
            background: rgba(50, 50, 50, .01);
            border-left: 3px solid #2ecc71;
            cursor: pointer;
            padding-left: 17px;
        }
        
.concepts-header {
    position: relative;
    width: 100%;
    left: 0px;
    height: 40px;
    background: #2980b9;
}

.results-found {
    float: left;
}

.search-bar {
    float: right;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 5px;
    position: relative;
    border-radius: 2px;
    top: -3px;
}


.show-concept {
    position: relative;
    height: 60%;
    width: 90%;
    padding: 20px;
    text-align: left;
    
}

    .show-concept > .concept-title {
        font-size: 1.8em;
        line-height: 1.1em;
    }
    
    .show-concept > .concept-description {
        padding: 10px;
        padding-top: 20px;
        
    }
    
    .show-concept > .concept-content {
        padding: 10px;
        background: rgba(0,0, 0, .06);
        font-family: 'Rokkitt', serif;
        font-size: 16px;
    }
    
.reply-to-concept {
    float: left;
    padding: 20px;
    border: 0px;
    background: #27ae60;
    color: white;
    text-transform: uppercase;
}


.owner-controls {
    position: absolute;
    right: 2%;
}

    .owner-controls a {
        padding: 7px;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 10px;
        color: white !important;
    }
    
    .owner-controls .edit {
        background: #e67e22;
    }
    
    .owner-controls .delete {
        background: #c0392b;
    }






.new-form {
    text-align: left;
}

    .new-form * {
        font-family: 'Raleway', sans-serif;
    }
    
    .new-form input, .new-form textarea {
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        width: calc(50% - 12px);
        min-width: 300px;
        font-size: 1.2em;
    }
    
    .new-form textarea {
        height: 80px;
    }
    
    .new-form .new-title {
        font-size: 1.6em;
    }
    
    .new-form input[type='submit'] {
        background: #27ae60;
        color: white;
        width: 50%;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    
    
    
    
    
    
    
    